.new-tweet {
    display: flex;
 justify-content: center;
 position: static;
 margin-top: 1em;
 flex-direction: row;
}

.formLineBottom {
    justify-content: space-evenly;
    align-self:baseline;
    font-family: bungee;
    flex-direction: row;

}

.counter {
    
}

.btn {
    font-family: bungee;
    background-color: #4056A1;
    color: #FFFFFF;
    align-self: start;
}