.new-tweet {
    display: flex;
 justify-content: center;
 position: static;
 margin-top: 1em;
 flex-direction: column;
}

.formLineBottom {
    justify-content: space-between;
    align-self:baseline;
    font-family: bungee;
    flex-direction: row;
    display: flex;

}

#tweet-text {
    width: 100%;    
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid black;

}
/* .counter {
    font-family: bungee;
    align-self: end;
} */

.btn {
    background-color: #4056A1;
    color: #FFFFFF;
    align-self: start;
}